{{#each gridCells as | column index |}}
  <div class="grid-cells__column grid-cells__column--{{index}}">
    {{#each column as | cellState |}}
      {{grid-cell 
        gameStatus=gameStatus
        gameLevel=gameLevel
        cellState=cellState
        moveByKeyboard='moveByKeyboard'
        gridCellClicked='gridCellClicked'}}
    {{/each}}
  </div>
{{/each}}
